*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 36, 36);
  gap: 10px;
  width: 100%;
  height: 100vh;
}

.items {
  min-width: 10%;
  min-height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(108, 108, 108);
  border-radius: 5px;
  transition: all 1s ease;
  &:hover {
    transform: scale(1.04);
  }
}

.items__top-text {
  color: white;
  font-family: sans-serif;
  padding: 5px;
  width: 100%;
  text-align: center;
  background-color: rgb(48, 160, 208);
  font-size: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

.items__title {
  display: flex;
  align-items: center;
  font-size: 200%;
  font-family: sans-serif;
  flex-grow: 1;
  text-align: center;
  color: white;
}

.title {
  position: absolute;
  // left: 45vw;
  top: 10%;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  color: white;
  font-size: 30px;
}